@page "/ActualizarUsuario/{idUsuario:int}"
@rendermode InteractiveServer

<PageTitle>Actualización de Usuario</PageTitle>

<div class="container mt-3">
    <FormUserURComponent _registroDTO="_registroDTO" OnSubmit="ActualizarUsuarioEvent"></FormUserURComponent>
</div>