@page "/RegistroUsuario"
@rendermode InteractiveServer

<PageTitle>Registro de Usuario</PageTitle>

<AuthorizeView Roles="Administrador">
    <Authorized>
        <div class="container mt-3">
            <FormUserURComponent _registroDTO="_registroDTO" OnSubmit="RegistrarUsuarioEvent"></FormUserURComponent>
        </div>
    </Authorized>
    <NotAuthorized>
        <h2>No tiene permisos</h2>
    </NotAuthorized>
</AuthorizeView>