<button class="btn @btnClasses" type="">@btnText</button>

@code {
    [Parameter] public string btnText { get; set; }
    [Parameter] public string btnClasses { get; set; }
    [Parameter] public string btnType { get; set; }
}
